.logocircle{
    background-image: url("images/bandit.png");
    background-size: 80%;
    background-repeat:no-repeat;
    margin: 0 auto 0 auto;
    background-color: white;
    width:200px;
    height:200px;
}
input {margin:5px auto 5px auto;}
